mode: rule
ipv6: false
log-level: silent
allow-lan: false
tproxy-port: 7894
unified-delay: true
tcp-concurrent: true
external-controller: 0.0.0.0:9090
external-ui: ./ui
external-ui-url: "https://github.com/Zephyruso/zashboard/releases/latest/download/dist-cdn-fonts.zip"

dns:
  enable: true
  listen: 0.0.0.0:7874
  ipv6: false
  fake-ip-range: 198.18.0.1/16
  default-nameserver:
    - 8.8.8.8
    - 8.8.4.4
  nameserver:
    - https://dns.google/dns-query
  fake-ip-filter-mode: blacklist
  fake-ip-filter:
    - '*.lan'
    - '*.localdomain'
    - '*.example'
    - '*.invalid'
    - '*.localhost'
    - '*.test'
    - '*.local'
    - '*.home.arpa'
    - 'router.asus.com'
    - 'cudy.net'
    - '+.msftconnecttest.com'
    - '+.msftncsi.com'
    - '+.3gppnetwork.org'
keep-alive-idle: 15
keep-alive-interval: 15
profile:
  store-selected: true 
  store-fake-ip: true 
  tracing: false
routing-mark: 2 
sniffer:
  enable: true
  force-dns-mapping: true
  parse-pure-ip: true
  sniff:
    HTTP:
      ports: [80, 8080-8880]
      override-destination: true
    TLS:
      ports: [443, 8443]
  skip-domain:
    - "Mijia Cloud"
    - '+.lan'
    - '+.local'
    - '+.push.apple.com'
    - '+.apple.com'
  #Если не работают игрульки - добавить айпи устройства и раскомментировать 
  #skip-src-address:
  #  - 192.168.1.204/32 
  #skip-dst-address:
  #  - 192.168.1.204/32 
proxy-providers:
  tgbpn_bot: 
    type: http
    url: ""
    path: ./proxy_providers/tgbpn_bot.yaml 
    interval: 86400 
    proxy: DIRECT 
    health-check:
      enable: true
      url: http://cp.cloudflare.com/generate_204 
      interval: 300
      timeout: 5000
      lazy: true
      expected-status: 204
    override:
      skip-cert-verify: true
    header:
      User-Agent: [Super Simple Clash]
      x-hwid: [Router]
      x-device-os: [OpenWrt]
      x-ver-os: [25.12]
      x-device-model: [Router]
proxy-groups:
  - name: PROXY
    type: url-test
    include-all: true
    url: http://cp.cloudflare.com/generate_204
    expected-status: 204
    interval: 300
    tolerance: 50
    lazy: true
    icon: https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Available_1.png
    use:
      - tgbpn_bot
rule-providers:
  ru-blocked:
    behavior: domain
    type: http
    format: text
    url: 'https://cdn.jsdelivr.net/gh/shvchk/unblock-net/lists/clash/ru-blocked'
    interval: 86400
    path: ./ruleset/ru-blocked.yaml
  cloudflare:
    behavior: classical
    type: http
    format: text
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Loon/Cloudflare/Cloudflare_Resolve.list"
    interval: 86400
    path: ./ruleset/cloudflare.lst
  instagram:
    behavior: classical
    type: http
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Instagram/Instagram.yaml"
    interval: 86400
    path: ./ruleset/instagram.yaml
  facebook:
    behavior: classical
    type: http
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Facebook/Facebook.yaml"
    interval: 86400
    path: ./ruleset/facebook.yaml
  youtube:
    behavior: classical
    type: http
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/YouTube/YouTube.yaml"
    interval: 86400
    path: ./ruleset/youtube.yaml
  discord-domain:
    behavior: classical
    type: http
    url: "https://raw.githubusercontent.com/fildunsky/clash_discord/refs/heads/main/discord-domain.yaml"
    interval: 86400
    path: ./ruleset/discord-domain.yaml
  discord-ip:
    behavior: classical
    type: http
    url: "https://raw.githubusercontent.com/fildunsky/clash_discord/refs/heads/main/discord-ip.yaml"
    interval: 86400
    path: ./ruleset/discord-ip.yaml
  whatsapp:
    behavior: classical
    type: http
    url: "https://raw.githubusercontent.com/Boorad0/rule_set_mihomo/refs/heads/main/WhatsApp.yaml"
    interval: 86400
    path: ./ruleset/whatsapp.yaml 
  gemini:
    behavior: classical
    type: http
    format: yaml
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Gemini/Gemini.yaml"
    interval: 86400
    path: ./ruleset/gemini.yaml
  openai:
    behavior: classical
    type: http
    format: yaml
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/OpenAI/OpenAI.yaml"
    interval: 86400
    path: ./ruleset/openai.yaml
  telegram:
    behavior: classical
    type: http
    format: yaml
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/Telegram/Telegram.yaml"    
    interval: 86400
    path: ./ruleset/telegram.yaml
  twitter:
    behavior: classical
    type: http
    format: yaml
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Twitter/Twitter.yaml"
    interval: 86400
    path: ./ruleset/twitter.yaml
  tiktok:
    behavior: classical
    type: http
    format: yaml
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/TikTok/TikTok.yaml"    
    interval: 86400
    path: ./ruleset/tiktok.yaml  
  roblox:
    behavior: classical
    type: http
    format: yaml
    url: "https://raw.githubusercontent.com/Boorad0/rule_set_mihomo/refs/heads/main/Roblox.yaml"    
    interval: 86400
    path: ./ruleset/roblox.yaml  


rules:
  #- IP-CIDR,192.168.10.109/32,PROXY
  #- SRC-IP-CIDR,192.168.10.109/32,PROXY
  - RULE-SET,gemini,PROXY
  - RULE-SET,openai,PROXY
  - RULE-SET,telegram,PROXY
  - RULE-SET,twitter,PROXY
  - RULE-SET,youtube,PROXY
  - RULE-SET,whatsapp,PROXY
  - RULE-SET,instagram,PROXY
  - RULE-SET,facebook,PROXY
  - RULE-SET,discord-domain,PROXY
  - RULE-SET,discord-ip,PROXY
  - RULE-SET,roblox,PROXY
  - DOMAIN-SUFFIX,fast.com,PROXY
  - DOMAIN-SUFFIX,4pda.to,PROXY
  - DOMAIN-SUFFIX,nalog.ru,DIRECT
  - DOMAIN-SUFFIX,lknpd.nalog.ru,DIRECT
  - DOMAIN-SUFFIX,4pda.ru,PROXY
  - DOMAIN-SUFFIX,4pda.ws,PROXY
  - RULE-SET,ru-blocked,PROXY
  - RULE-SET,cloudflare,PROXY
  - RULE-SET,tiktok,PROXY
  - DOMAIN-SUFFIX,labs.google.com,PROXY
  - MATCH,DIRECT
